@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.bg-custom{
    background: #133159;
}
.navbar-custom{
    padding: 0;
    height: 80px;
    /* line-height: 80px; */
}
.brand-icon img{
    width: 45.5px;
    height: 45.5px;
    color: rgb(255, 255, 255);
}
.custom-toggler .navbar-toggler-icon-custom{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.profile{
    height: 40px;
}
.nav-icon{
    padding: 8px 9px;
    color: white;
    border-radius: 50%;
    background: #3C7EF3;
    
}
/* ////// Sidebar ////// */
.sidebar-item li{
    padding: 10px 15px;
    margin-bottom: 5px;
    border-radius: 10px;
    transition: all ease 0.2s;
}
.active{
    background: #3C7EF3;
}
.sidebar-item li:hover{
    background: #3C7EF3;
    transition: all ease 0.2s;
}
.sidebar-item li a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}
.content-section{
    background: #fff;
    border-radius: 10px;
}
/* //////// Deals Header ///////// */
.arrange-icon .fas{
    font-size: 20px;
    padding: 10px;
    color: #546376;
    background: #F6F7FB;
    transition: all ease 0.2s;
}
.arrange-icon .fas:first-child{
    border-radius: 8px 0px 0px 8px;
    
}
.arrange-icon .fas:last-child{
    border-radius: 0px 8px 8px 0px;
}
.arrange-icon .fas:hover,
.eye-custom:hover{
    color: #fff;
    background: #133159;
    transition: all ease 0.2s;
}
.eye-custom{
    border: 1px solid #546376;
    color: #546376;
    padding: 10px;
    font-size: 14px;
    border-radius:50%;
}
